<div><br /></div>

<div class="saludo">
  <h2>Lista de todos los productos agregados hasta el momento:</h2>
  <div class="products"></div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <th>{{this._id}}</th>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.price}}</td>
        <td>{{this.stock}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

    <a href="http://localhost:8080/chat" target="_blank">
      <button>Ir al chat</button>
    </a>

    <div class="col-md-4">
      <h2>Agregar Producto</h2>
      <form action="/api/products" method="post">
        <div class="row">
          <div class="col-6">
            <input
              type="text"
              class="form-control"
              placeholder="Title"
              aria-label="Title"
              name="title"
            />
          </div>
          <div class="col-6">
            <input
              type="text"
              class="form-control"
              placeholder="Description"
              aria-label="Description"
              name="description"
            />
          </div>
          <div class="col-6">
            <input
              type="text"
              class="form-control"
              placeholder="Code"
              aria-label="Code"
              name="code"
            />
          </div>
          <div class="col-6">
            <input
              type="number"
              class="form-control"
              placeholder="Price"
              aria-label="Price"
              name="price"
            />
          </div>
                    <div class="col-6">
            <input
              type="number"
              class="form-control"
              placeholder="Stock"
              aria-label="Stock"
              name="stock"
            />
          </div>
          <div class="col-12">
            <button type="submit" class="form-control">
              Enviar
            </button>
          </div>
        </div>
      </form>
    </div>

</div>

<script src="/socket.io/socket.io.js"></script>